In [1]:
# import libraries
import pandas as pd

In [2]:
# load crunchyroll and funimation 
crunch_df = pd.read_csv('./data/crunchyroll_titles.csv')
fun_df = pd.read_csv('./data/funimation_titles.csv')

In [3]:
crunch_df.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts21930,Lupin the Third,SHOW,Arsene Lupin III is the grandson of the master...,1971,TV-14,23,"['scifi', 'animation', 'action', 'comedy', 'cr...",['JP'],6.0,tt0159175,7.9,2116.0,45.829,8.0
1,ts25177,Mobile Suit Gundam,SHOW,Mobile Suit Gundam is a televised anime series...,1979,TV-Y7,25,"['scifi', 'war', 'animation', 'action', 'drama...",['JP'],1.0,tt0159172,7.9,2281.0,41.250,8.1
2,ts35087,Galaxy Express 999,SHOW,Galaxy Express 999 is a manga written and draw...,1978,TV-PG,24,"['scifi', 'action', 'drama', 'animation']",['JP'],1.0,tt0185066,7.8,459.0,5.064,8.3
3,ts82387,Lupin the 3rd,SHOW,The master thief Lupin III and his cronies con...,1977,TV-14,24,"['scifi', 'animation', 'action', 'comedy', 'cr...",['JP'],4.0,tt0159192,8.0,1738.0,0.600,NaN
4,ts2846,Chōdenji Machine Voltes V,SHOW,Chōdenji Machine Voltes V is a Japanese anime ...,1977,TV-PG,24,"['drama', 'action', 'scifi', 'animation']",['JP'],1.0,tt0159855,8.1,207.0,12.625,7.3

In [44]:
crunch_df.columns

Index(['id', 'title', 'type', 'description', 'release_year',
       'age_certification', 'runtime', 'genres', 'production_countries',
       'seasons', 'imdb_id', 'imdb_score', 'imdb_votes', 'tmdb_popularity',
       'tmdb_score', 'app'],
      dtype='object')

In [4]:
fun_df.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts25177,Mobile Suit Gundam,SHOW,Mobile Suit Gundam is a televised anime series...,1979,TV-Y7,25,"['scifi', 'war', 'animation', 'action', 'drama...",['JP'],1.0,tt0159172,7.9,2281.0,41.250,8.1
1,ts20740,Dragon Ball Z,SHOW,Dragon Ball Z is a Japanese animated televisio...,1989,TV-PG,24,"['scifi', 'action', 'animation', 'comedy', 'fa...",['JP'],16.0,tt0121220,8.8,125554.0,389.990,8.2
2,tm44887,Akira,MOVIE,A secret military project endangers Neo-Tokyo ...,1988,R,124,"['scifi', 'action', 'drama', 'animation', 'fan...",['JP'],NaN,tt0094625,8.0,181098.0,45.959,8.0
3,ts28221,Robotech,SHOW,Robotech is an 85-episode adaptation of three ...,1985,NaN,24,"['scifi', 'animation', 'action']",['US'],3.0,tt0088595,8.5,3630.0,16.833,8.7
4,ts20738,Ranma ½,SHOW,"Saotome Ranma, a teenage martial artist, and h...",1989,TV-14,24,"['scifi', 'action', 'romance', 'animation', 'c...",['JP'],7.0,tt0096686,8.2,1508.0,65.102,8.7

In [40]:
fun_df.loc[fun_df['title'] == 'Attack on Titan']

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,app
212,ts20682,Attack on Titan,SHOW,"Several hundred years ago, humans were nearly ...",2013,TV-MA,24,"['scifi', 'action', 'drama', 'fantasy', 'horro...",['JP'],4.0,tt2560140,9.0,325381.0,139.388,8.6,Funimation

In [41]:
crunch_df.loc[crunch_df['title'] == 'Attack on Titan']

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,app
316,ts20682,Attack on Titan,SHOW,"Several hundred years ago, humans were nearly ...",2013,TV-MA,24,"['scifi', 'action', 'drama', 'fantasy', 'horro...",['JP'],4.0,tt2560140,9.0,325381.0,139.388,8.6,Crunchyroll

In [15]:
crunch_df.shape, fun_df.shape

((1081, 15), (583, 15))

In [17]:
crunch_df['app'] = 'Crunchyroll'

In [18]:
fun_df['app'] = 'Funimation'

In [20]:
titles = pd.concat((crunch_df, fun_df))

In [21]:
titles.type.value_counts()

SHOW     1615
MOVIE      49
Name: type, dtype: int64

In [43]:
titles.production_countries.value_counts()

['JP']                1580
[]                      31
['US']                  21
['JP', 'US']             6
['CN']                   5
['XX']                   4
['CN', 'JP']             2
['JP', 'CN']             2
['GB']                   2
['AL']                   1
['BR']                   1
['MX']                   1
['JP', 'TW']             1
['KR']                   1
['CA']                   1
['CN', 'HK']             1
['FR']                   1
['JP', 'CA', 'US']       1
['NL']                   1
['CZ', 'FR']             1
Name: production_countries, dtype: int64

In [32]:
fun_df.duplicated().sum()

0

In [34]:
titles.drop(columns=['app']).duplicated().sum()

192

In [36]:
titles['imdb_id'].duplicated().sum()

420

In [47]:
crunch_df.shape

(1081, 16)

In [38]:
crunch_df.isna().sum()

id                        0
title                     0
type                      0
description              31
release_year              0
age_certification       331
runtime                   0
genres                    0
production_countries      0
seasons                   1
imdb_id                 154
imdb_score              174
imdb_votes              174
tmdb_popularity          13
tmdb_score               75
app                       0
dtype: int64

In [39]:
fun_df.isna().sum()

id                       0
title                    0
type                     0
description              5
release_year             0
age_certification       78
runtime                  0
genres                   0
production_countries     0
seasons                 48
imdb_id                 61
imdb_score              64
imdb_votes              64
tmdb_popularity          6
tmdb_score              20
app                      0
dtype: int64

In [37]:
titles.isna().sum()

id                        0
title                     0
type                      0
description              36
release_year              0
age_certification       409
runtime                   0
genres                    0
production_countries      0
seasons                  49
imdb_id                 215
imdb_score              238
imdb_votes              238
tmdb_popularity          19
tmdb_score               95
app                       0
dtype: int64

In [46]:
titles.loc[titles['type'] == 'MOVIE'].sort_values('id').isna().sum()

id                       0
title                    0
type                     0
description              0
release_year             0
age_certification       27
runtime                  0
genres                   0
production_countries     0
seasons                 49
imdb_id                  3
imdb_score               4
imdb_votes               4
tmdb_popularity          0
tmdb_score               2
app                      0
dtype: int64